/* Global styling and custom property declaration */

:root {
    --primary-color: #283044;
    --secondary-color: #78a1bb;
    --tertiary-color: #ebf5ee;
    --quaternary-color: #bfa89e;
    --quinary-color: #8b786d
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header {
    display: flex;
    justify-content: space-between;
    margin: 2vw;
}
#high-scores {
    color: var(--secondary-color); 
    position: relative;
}

#timer {
    color: var(--primary-color);
    position: relative;
}

#question {
    color: var(--primary-color);
}

#dialog {
    color: var(--primary-color);
    font-size: 16px;
    padding: 10px 10px 10px 0;
}

main {
    margin: 10vw 15vw
}

ol {
    display: inline-block;
    margin: 2vw 2vw 2vw 0;
}
.btn {

    padding: 10px 20px;
    list-style-position: inside;
    background-color: var(--quinary-color);
    margin: 8px 0;
    min-width: 200px;
    border-radius: 5px;
    color: var(--tertiary-color);
}
.btn:hover {
    background-color: var(--secondary-color);
}

#answer {
    color: var(--quaternary-color);
    font-style: italic;
    border-top: var(--quaternary-color) solid 1px;
    padding-top: 1vw;
}